.loader {
    display: inline-block;
    border: 5px solid var(--inverted-bg-color);
    border-bottom-color: transparent;
    border-radius: 50%;
    width: 48px;
    height: 48px;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}
