.app_orange_theme {
    --bg-color: #9f6fb2;
    --inverted-bg-color: #f9f4fb;
    --primary-color: #f9f4fb;
    --inverted-primary-color: #9f6fb2;
    --secondary-color: #f9f4fb;
    --inverted-secondary-color: #6157a2;

    // skeleton
    --skeleton-color: #fff;
    --skeleton-shadow: rgba(0 0 0 / 20%);

    // code
    --code-bg: #fff;

    // card
    --card-bg: #b3b3d2;
}

// .app_orange_theme {
//     --bg-color: #faf4fb;
//     --inverted-bg-color: #bd5012;
//     --primary-color: #9a1a0e;
//     --secondary-color: #d01f0e;
//     --inverted-primary-color: #dbd5dc;
//     --inverted-secondary-color: #faf4fb;
// }
