.Navbar {
    display: flex;
    align-items: center;
    padding: 20px;
    width: 100%;
    height: var(--navbar-height);
    background: var(--inverted-bg-color);
}

.links,
.dropdown {
    margin-left: auto;
}

.mainLink {
    margin-right: 15px;
}

.appName {
    margin-left: 15px;
    width: var(--sidebar-width);
}

.optionBottomLeft {
    right: 0;
    top: 100%;
}

.optionBottomRight {
    left: 0;
    top: 100%;
}

.optionTopLeft {
    right: 0;
    bottom: 100%;
}

.optionTopRight {
    left: 0;
    bottom: 100%;
}
